<div class="padding white">

  <div class="row-fluid">
		<div class="box-title-add">
			<h2 class="center"> <%= t 'title.add_company' %> </h2>
		</div>
	</div>

<!-- BEGIN BLOCK FORM COMPANY -->
  <div class="box-create-company">

    <fieldset>
      <legend class="span12 alert alert-success"><%= t'company.new.title' %></legend>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  
		  <%= f.fields_for :company do |company_form| %>
		  	<%= render 'company_form', f: company_form %>
		  <% end %>

  	</fieldset>

  </div>
  <!-- END BLOCK COMPANY -->

  <div class="box-create-admin">

  <fieldset>
      <legend  class="span12 alert alert-info"><%= t 'admin.new.title' %></legend>

		  <p>
		  	<%= f.label :email %>
		  	<%= f.email_field :email %>
		  	<%= error_tag resource, :email %>
		  </p>

		  <p>
			  <%= f.label :password %>
			  <%= f.password_field :password %>
			  <%= error_tag resource, :password %>
		  </p>

		  <p>
			  <%= f.label :password_confirmation %>
			  <%= f.password_field :password_confirmation %>
			  <%= error_tag resource, :password_confirmation %>
		  </p>

      <div class="form-actions">
        <%= f.submit t('button.save'), class: "btn btn-info" %>
      </div>

    <% end %><!-- END MAIN FORM ADMIN -->

    </fieldset>
  </div>

</div>