<div class="row-fluid">

	<div class="span4 center box-active">

		<h4 class="alert">Cadastre seu produtos</h4>
		<%= image_tag("/imgs/products.png", class: "img-polaroid margin")%>
		<p class="margin">
			Insira os dados sobre seus produtos como nome, valor de custo, 
			valor de venda e quantidade para ter total controle 	sobre seu estoque.
		</p>
	</div>

	<div class="span4 center box-active border-sides">

		<h4 class="alert">Registre as entradas e saídas</h4>
		<%= image_tag("/imgs/in_out.png", class: "img-polaroid margin")%>
		<p class="margin">
			Registre suas vendas, compras e despesas, no momento em que elas acontece. E tenha total domínio sobre o direcionamento do seu dinheiro.
		</p>

	</div>

	<div class="span4 center box-active">

		<h4 class="alert">Acompanhe o fluxo do seu Caixa</h4>
		<%= image_tag("/imgs/reports.png", class: "img-polaroid margin") %> 
		<p class="margin">
			Visualize e gerencie toda movimentação de dinheiro presente no seu caixa, com gráficos e informações que agregam valor ao seu negócio, há qualquer lugar e momento.
		</p>

	</div>

</div>

<hr/>
<!-- START THE FEATURETTES -->
<div class="row-fluid">


	<div class="span7">
	  <h2 class="featurette-heading alert alert-info">Não há milagres. <span class="muted">você sabe.</span></h2>
	  <p class="lead">Para obter lucro é necessário administrar o dinheiro que passa a todo momento pelo seu caixa.</p>
	</div>

	<div class="span5">
		<%= image_tag("/imgs/administrate.png", class: "img-rounded pull-right") %> 
	</div>

</div>

<hr/>

<div class="row-fluid ">

	<div class="span5 ">
		<%= image_tag("/imgs/solution.png", class: "img-rounded ") %> 
	</div>

	<div class="span7 ">
	  <h2 class="pull-right featurette-heading alert">Caixa Objetivo vai lhe ajudar. <span class="muted">É só cadastrar.</span></h2>
	  <p class="lead pull-right">Solução ideal para controlar o fluxo de seu caixa e ajudar na sua gestão.</p>
	</div>

</div>

<hr/>

<div class="row-fluid">


	<div class="span7">
	  <h2 class="featurette-heading alert alert-success"> Primeiro mês grátis. <span class="muted">É isso mesmo.</span></h2>
	  <p class="lead">Para você conhecer o melhor do Caixa Objetivo. Depois só pagará 29,90 por mês.</p>
	</div>

	<div class="span5">
		<%= image_tag("/imgs/free.png", class: "img-rounded pull-right") %> 
	</div>

</div>
<!-- END THE FEATURETTES -->