<div class="row-fluid"> <!-- BEGIN THE BOXS ACTIVE -->

	<div class="span4 center box-active">

		<h4 class="alert"><%= t'text.box_active.products_title' %></h4>
		<%= image_tag("/imgs/products.png", class: "img-polaroid margin")%>
		<p class="margin">
		<%= t'text.box_active.products_subtitle' %>
		</p>
	</div>

	<div class="span4 center box-active border-sides">

		<h4 class="alert"><%= t'text.box_active.in_out_title' %></h4>
		<%= image_tag("/imgs/in_out.png", class: "img-polaroid margin")%>
		<p class="margin">
			<%= t'text.box_active.in_out_subtitle' %>
		</p>

	</div>

	<div class="span4 center box-active">

		<h4 class="alert"><%= t'text.box_active.report_title' %></h4>
		<%= image_tag("/imgs/reports.png", class: "img-polaroid margin") %> 
		<p class="margin">
			<%= t'text.box_active.report_subtitle' %>
		</p>

	</div>

</div> <!-- END THE BOXS ACTIVE -->

<hr/>
<!-- START THE FEATURETTES -->
<div class="row-fluid">


	<div class="span7">
	  <h3 class="featurette-heading alert alert-info"><%= t'text.marketing.manager_title' %> <span class="muted"><%= t'text.marketing.manager_title_two' %></span></h3>
	  <p class="lead"><%= t'text.marketing.manager_subtitle' %></p>
	</div>

	<div class="span5">
		<%= image_tag("/imgs/administrate.png", class: "img-rounded pull-right") %> 
	</div>

</div>

<hr/>

<div class="row-fluid ">

	<div class="span5 ">
		<%= image_tag("/imgs/solution.png", class: "img-rounded ") %> 
	</div>

	<div class="span7 ">
	  <h3 class="pull-right featurette-heading alert"><%= t'text.marketing.solution_title' %> <span class="muted"><%= link_to t('text.marketing.solution_title_two'), new_admin_registration_path, class: 'btn btn-large btn-warning' %></span></h3>
	  <p class="lead pull-right"><%= t'text.marketing.solution_subtitle'%></p>
	</div>

</div>

<hr/>

<div class="row-fluid">


	<div class="span7">
	  <h3 class="featurette-heading alert alert-success"><%= t'text.marketing.free_title' %> <span class="muted"><%= t'text.marketing.free_title_two'%></span></h3>
	  <p class="lead"><%= t'text.marketing.free_subtitle' %></p>
	</div>

	<div class="span5">
		<%= image_tag("/imgs/free.png", class: "img-rounded pull-right") %> 
	</div>

</div>
<!-- END THE FEATURETTES -->