<%= form_for(@company) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true %>
    <%= error_tag @company, :name %>
  </p>
  <p>
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>
    <%= error_tag @company, :cnpj %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= error_tag @company, :phone %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= error_tag @company, :adrress %>
  </p>
  <p>
    <%= f.label :number %>
    <%= f.text_field :number %>
    <%= error_tag @company, :number %>
  </p>
  <p>
    <%= f.label :cep %>
    <%= f.text_field :cep %>
    <%= error_tag @company, :cep %>
  </p>

  <div class="form-actions">
    <%= f.submit t('button.edit'), class: "btn btn-info" %>
  </div>

<% end %>
