<div class="span12 white padding">

  <fieldset>

    <div class="row-fluid">
      <div class="box-title-add">
        <h2 class="center"> <%=t 'company.index.title' %></h2>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t'activerecord.attributes.company.name'%></th>
          <th><%= t'activerecord.attributes.company.cnpj'%></th>
          <th><%= t'activerecord.attributes.company.phone'%></th>
          <th><%= t'activerecord.attributes.company.address'%></th>
          <th><%= t'activerecord.attributes.company.number'%></th>
          <th><%= t'activerecord.attributes.company.cep'%></th>
          <th><%= t'table.show'%></th>
          <th><%= t'table.edit'%></th>
          <th><%= t'table.delete'%></th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
            <td><%= company.cnpj %></td>
            <td><%= company.phone %></td>
            <td><%= company.address %></td>
            <td><%= company.number %></td>
            <td><%= company.cep %></td>
            <td><%= link_to image_tag("/imgs/icons/show_icon.png"), company %></td>
            <td><%= link_to image_tag("/imgs/icons/edit_icon.png"), edit_company_path(company) %></td>
            <td><%= link_to image_tag("/imgs/icons/delete_icon.png"), company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    
      </tbody>
    
    </table>

  </fieldset>

</div>
