<div class="padding white">

  <div class="row-fluid">
    <div class="box-title-add">
      <h2 class="center"> <%=t 'company.show.title', name: @company.name %></h2>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 alert alert-success">
      <p >
        <strong><%= t'activerecord.attributes.company.name'%></strong>
        <%= @company.name %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.company.cnpj'%></strong>
        <%= @company.cnpj %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.company.phone'%></strong>
        <%= @company.phone %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.company.address'%></strong>
        <%= @company.address %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.company.number'%></strong>
        <%= @company.number %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.company.cep'%></strong>
        <%= @company.cep %>
      </p>
    </div>
  </div>

 <div class="form-actions">
  <%= link_to t('links.edit'), edit_company_path(@company) %> |
  <%= link_to t('links.back'), companies_path %>
</div>

</div>