<%= form_for(@product) do |f| %>

  <p class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
    <%= error_tag @product, :code %>
  </p>
  <p class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= error_tag @product, :name %>
  </p>
  <p class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <%= error_tag @product, :cost %>
  </p>
  <p class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= error_tag @product, :price %>
  </p>
  <p class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= error_tag @product, :quantity %>
  </p>
  <p class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= error_tag @product, :description %>
  </p>
  <div class="form-actions">
    <%= f.submit t('button.save'), class: "btn btn-info" %>
  </div>
<% end %>
