<div class="padding white">

  <div class="row-fluid">
    <div class="box-title-add">
      <h2 class="center"> <%=t 'product.show.title', name: @product.name %></h2>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 alert alert-success">

      <p>
        <strong><%= t'activerecord.attributes.product.code'%></strong>
        <%= @product.code %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.product.name'%></strong>
        <%= @product.name %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.product.cost'%></strong>
        <%= @product.cost %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.product.price'%></strong>
        <%= @product.price %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.product.quantity'%></strong>
        <%= @product.quantity %>
      </p>

      <p>
        <strong><%= t'activerecord.attributes.product.description'%></strong>
        <%= @product.description %>
      </p>

      <div class="form-actions">
        <%= link_to t('links.edit'), edit_product_path(@product) %> |
        <%= link_to t('links.back'), products_path %>
      </div>
    </div>
  </div>

</div>
