<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

      <div class="row-fluid"> 

        <div class="span7">
          <%= link_to image_tag("/imgs/brand2.png"), root_path, class: "brand" %>
        </div>

        <div class="span5 pull-right">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><%= link_to t('head.menu.home'), root_path %></li>
              <li><%= link_to t'head.menu.how_works' %></li>
              <li><%= link_to t'head.menu.benefits' %></li>
              <li><%= link_to t'head.menu.plan' %></li>
              <li><%= link_to t'head.menu.contact' %></li>
            </ul>
          </div><!--/.nav-collapse -->

          <% if admin_signed_in? %>
            <%= link_to t('links.sign_out'), destroy_admin_session_path, class: "btn btn-danger" %>
          <% else %>
            <%= link_to t('links.sign_in'), new_admin_session_path, class: "btn btn-primary" %>
          <% end %>
        </div>

      </div><!-- /row -->

      </div><!-- /container -->
    </div> <!-- /nav inner -->
</div> <!-- /nav inverse -->