<!DOCTYPE html>
<html>
<head>
  <title>Caixa Objetivo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body >

<%= render '/layouts/head_home' %>

<%= render '/layouts/marketing_home' %>
           
<div class="container-fluid">
  
  <%= yield %>

</div>

<hr>

 <div class="footer">
 	<div class="span12">
	 <p class="pull-right"><%= link_to t'footer.top' %></p>
	  <p>&copy;<%= t'footer.right' %></p>
	 </div>
</div>

</body>
</html>
